@import "tailwindcss";

:root {
	--primary-text: oklch(100% 0 0);
	--primary: oklch(66.39% 0.143 282.24);
	--secundary: oklch(45% 0.085 224.283);
	--accent: oklch(45.71% 0.297 266.38);
	--background: oklch(15.17% 0.046 281.7);
}

@theme {
	--color-primary: var(--primary);
	--color-secundary: var(--secundary);
	--color-background: var(--background);
	--color-accent: var(--accent);
}

@layer base {
	* {
		color: var(--primary-text);
	}

	:root {
		background-color: var(--background);
		-webkit-user-select: none;
		user-select: none;
	}
}
