---
import PlayerBar from "@/components/PlayerBar/PlayerBar";
import "@/styles/global.css";

const title = Astro.props.title;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-background">
        <slot />
        <PlayerBar />
    </body>
</html>
