---
import InstallPrompt from "@/components/InstallPrompt/InstallPrompt";
import PlayerBar from "@/components/PlayerBar/PlayerBar";
import "@/styles/global.css";

const title = Astro.props.title;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <link rel="manifest" href="/manifest.webmanifest" />
        <link rel="icon" href="/favicon.ico" sizes="48x48" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="description" content="My Awesome App description" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
        <PlayerBar client:load />
        <InstallPrompt client:load />
    </body>
</html>
