---
import { pwaInfo } from "virtual:pwa-info";
import "@/styles/global.css";

const title = Astro.props.title;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <link rel="icon" href="/favicon.ico" sizes="48x48" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <meta name="msapplication-TileColor" content="#09081e" />
        <meta name="theme-color" content="#09081e" />
        <meta name="description" content="Free Media Player" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
        />

        <title>{title}</title>
        <script src="/src/pwa.ts"></script>
        {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    </head>
    <body>
        <slot />
    </body>
</html>
